.Info_container{
    background-color: 
    #00000017;  
    color: black;
    padding:0 50px;
    width: 90%;
    margin: auto;
    border-radius: 100px;
    margin-top: 50px;
    display: flex;
    padding:30px 50px;
}
.vector{
    height: 65px;
    width: 65px;
}
/* .Info_containe::after */
@media only screen and (min-width: 1024px) and (max-width: 1152px)  {
.Info_container{
    background-color: 
    #00000017;  
    color: black;
    /* padding:0 40px !important; */
    width: 100% !important;
    margin: none
    ;
    border-radius: 100px;
    margin-top: 50px;
    display: flex;
    padding:30px 50px;
}
}