.box{
    background-color: 
    #EEEEEE;  
    /* color: #ffffff; */
    border-radius: 50px;
    z-index: 2;
  }
  .generic_heading_left {
    position: relative;
    align-items: end;
    margin-bottom: 50px !important;
    margin: auto !important;
}

.generic_heading_left::before {
    content: ' ';
    width: 164px;
    height: 8px;
    background-color: #5A8C75;
    position: absolute;
    top: 59px;
    border-radius: 5px;
}
.gradientCircle:before  {
  content: "";
  position: absolute;
  right: -99px;
  bottom: 0;
  width: 343px;
  height: 625px;
  background: radial-gradient(circle, rgb(158 212 180 / 39%) 30%, rgb(255 255 255 / 0%) 51%);
  top: 95px;
  background-position: center;
  z-index: 3 !important;
}
.gradientCircle1:before  {
  content: "";
  position: absolute;
  right: -154px;
  bottom: 0;
  width: 343px;
  height: 625px;
  background: radial-gradient(circle, rgb(158 212 180 / 39%) 30%, rgb(255 255 255 / 0%) 51%);
  top: 272px;
  background-position: center;
  z-index: 3 !important;
}
@media only screen and (max-width: 600px) {

  .generic_heading_left::before {
    display: none;
}
}  