.card-Team {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 8  / 9; 
}

.card-Team-bg {
    position: absolute;
    top: 60px; 
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    border-radius: 50px;
    opacity: 0;
    transition: opacity 0.4s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px !important;
    z-index: 1; 
}

.team_description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.card-Team:hover .card-Team-bg {
    opacity: 0.8;
}


